.container_tabs
    margin-left 15px
    margin-bottom 15px
    .tab
        height 51px
        font-size 22px
        padding 6px
        margin-right 20px
        cursor pointer
    .tab_selected
        border-bottom 4px solid green
        color green
.filter-section
    input
        width 50%
        margin-left auto
.grid-table
    height 500px
.form-data
    width 100%
    display contents
    .obligatorio
        color red
@media screen and (max-width: 750px)
    .filter-section
        input
            margin-right 15px