.actions-section
    button
        background-color green
        color white
        margin-left 30px
        margin-bottom 14px
    span
        margin-left 15px
        font-size 30px
        color green
        padding-top 2px
    .search-input
        width 50%
        margin-left auto
.grid-table
    height 500px
.form-data
    width 100%
    display contents
    .obligatorio
        color red

@media screen and (max-width: 750px)
    .search-input
        margin-right 15px