/* You can add global styles to this file, and also import other style files */
@import "assets/icomoon/style.css";
 .row_flex
    display flex
.modal-header
   .modal-title
      color green
.ok-button
   background-color green !important
   color white !important